@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&family=Cinzel:wght@400;600;700;800&family=Raleway:wght@100;200;300;400;700;800;900&family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --ff-main: 'Roboto', sans-serif;
  --ff-h1: 'Antic Didone', serif;
  --ff-p: 'Raleway', sans-serif;

  --color-A: #161616;
  --color-B: #1e1e1e;
  --color-C: #CFCFCF;
  --color-D: #616161;
  --color-E: #F2B90F;
  --color-RED: #d02727;
  --color-GRAY: #555555;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper>nav {
  background-color: var(--color-A);
  grid-column-start: 1;
  grid-column-end: 4;

  display: grid;
}

nav ul {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  justify-content:center;
  justify-items:center;
  align-items: center;
  list-style-type:none;
  margin:0;
  padding: 0;
  white-space: nowrap;
}

nav ul:first-child {
  justify-items: left;
  padding-left: 5rem;
}

nav ul li:last-child {
  justify-items: left;
  padding-right: 5rem;
}

nav ul li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1rem;
  white-space: nowrap;
  font-family: var(--ff-main);
  font-size: 1.2rem;
  font-weight: 200;
}

nav ul a {
  display: flex;
  /* padding-right: 20rem; */
}

.logo{
  width: 130px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

textarea:focus, input:focus{
  outline: none;
}

input[type="search"] {
  display: grid;
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-family: var(--ff-main);
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  padding-left: 1rem;
  box-sizing: content-box;
  min-width: 50px;
}

.wrapper {
  display: grid;
  grid-template-rows: 4rem calc(100vh - 4rem) 10rem;
  grid-template-columns: 0.5fr 5fr 0.5fr;
}

.wrapper>article {
  background-color: #161616;
  background: url('/images/main.jpg');
  background-size: cover;
  background-position: center;
}

.wrapper>aside {
  background-color: var(--color-B);
}
.wrapper>footer {
  background-color: var(--color-A);
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: auto;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-main);
}

.login-wrapper {
  width: 540px;
  border-radius: 10px;
  border: 1px black solid;
  padding: 30px 40px;
  /* background-color: white; */
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

.login-wrapper h1 {
  font-size: 2rem;
  text-align: center;
}

.login-wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.login-wrapper input[type="text"],
.login-wrapper input[type="password"] {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 1rem;
  padding: 20px 45px 20px 20px;

  border: 1px black solid;
}

.input-box input::placeholder {
 color: black; 
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
} 

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 0.9rem;
  margin: -15px 0 15px;
}

.remember-forgot label {
  display: flex;
  align-items: center;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 5px;
}

.remember-forgot a {
  color: black;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.login-wrapper .btn {
  width: 100%;
  height: 45px;
  background-color:#161616;
  color:#CFCFCF;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.login-wrapper .register-link {
  font-size: 0.9rem;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a{
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.footer-container {
  height: 10rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content:center;
  justify-items:center;
  align-items: center;
  align-content: center;
  list-style-type:none;
  margin:0;
  padding: 0;
  white-space: nowrap;
  font-family: var(--ff-main);
}

div.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

footer ul{
  margin-top: 2.4rem;
  width: 300px;
  list-style-type:none;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}

footer ul li a{
  color: white;
  text-decoration: none;
}

footer ul li a:hover{
  text-decoration: underline;
}

.info p {
  display: inline;
  margin: 0.5rem;
}

.info-unit {
  display: flex;
  align-items: center;
}

svg {
  width: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  cursor: pointer;
}

.links p {
  text-align: center;
  margin-bottom: -20px;
}

@media (max-width: 756px) {
  
}